@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size: 16px;
}

:root {
    --green-primary: #485F4F;
    --green-dark: #28352C;
    --white-accent: #FAFAFA;
    --gold-accent: #EEDF7A;
    --gold-dark: #af9758;
}

#main-content {
    display: flex;
    flex-direction: column;
}

/* landing page */
.landing-page {
    height: 100vh;
}

.landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-image: url('../assets/img/landing-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -2;
    filter: grayscale(1);
}

.landing-page::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--white-accent);
    opacity: 70%;
    z-index: -1;
}

.main-greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    height: 100%;
    width: 80%;
    color: var(--green-primary);
}

.landing-page .main-greeting .deco-green-1,
.landing-page .main-greeting .deco-green-2 {
    width: 100%;
    height: 3rem;
    fill: var(--green-primary);
}

.landing-page .main-greeting .invited {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Arima';
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;

    @media (min-width: 640px) {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.landing-page .main-greeting .invited #user-name {
    font-family: 'Arima';
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.25rem;
    text-align: center;

    @media (min-width: 640px) {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.landing-page .main-greeting .couple-name {
    font-family: 'Great Vibes';
    font-size: 3.75rem;
    font-weight: normal;
    line-height: 1;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 6rem;
    }
}

.landing-page .main-greeting .invite-btn {
    padding: 0.5rem 1rem;
    font-family: 'Arima';
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--green-primary);
    color: var(--white-accent);
    border-radius: 0.5rem;

    @media (min-width: 768px) {
        font-size: 1.125rem;
    }
}

.landing-page .main-greeting .invite-btn:hover {
    background-color: var(--green-dark);
    transition: 300ms;
}

/* navbar */

.navbar .navbar-list-item {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    right: 1rem;
    bottom: 70px;
    z-index: 50;
    opacity: 0;
    pointer-events: none;
}

.navbar .navbar-list-item.appear {
    opacity: 1;
    pointer-events: auto;
    animation: slide-in-top 1s ease-in-out;
}

.navbar .navbar-list-item:not(.appear) {
    animation: slide-out-bottom 1s ease-in-out;
}

.navbar .navbar-list-item .navbar-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border: 1px solid var(--green-primary);
    border-radius: 50%;
    background-color: var(--white-accent);
    color: var(--green-primary);
}

.navbar .navbar-list-item .navbar-list-icon:hover {
    background-color: var(--green-dark);
    color: var(--white-accent);
    border-color: var(--white-accent);
    transition: 300ms;
}

.navbar #hamburger-menu {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    right: 1rem;
    bottom: 1rem;
    z-index: 50;
    cursor: pointer;
}

.navbar #hamburger-menu .hamburger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.2rem;
    border: 1px solid var(--green-primary);
    border-radius: 50%;
    background-color: var(--white-accent);
    color: var(--green-primary);
}

.navbar #hamburger-menu .hamburger-icon:hover {
    background-color: var(--green-dark);
    color: var(--white-accent);
    border-color: var(--white-accent);
    transition: 300ms;
}

/* home */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    position: relative;
    overflow: clip;
    background-color: var(--white-accent);
}

.home .deco-green-1,
.home .deco-green-2 {
    width: 80%;
    height: 3rem;
    fill: var(--green-primary);
}

.home .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0;
    width: 80%;
    gap: 3rem;
    color: var(--green-primary);
}

.home .home-content .home-greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    font-family: 'Noto Sans JP';
}

.home .home-content .home-greeting h1 {
    font-size: 3.75rem;
    font-family: 'Great Vibes';
    font-weight: normal;
    text-align: center;
}

.home .home-content .home-greeting p {
    font-size: 0.875rem;
    text-align: center;

    @media (min-width: 1024px) {
        font-size: 1rem;
    }
}

.home .home-content .couple {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;

    @media (min-width: 1024px) {
        flex-direction: row;
        align-items: start;
    }
}

.home .home-content .couple .male-couple,
.home .home-content .couple .female-couple {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.home .home-content .couple .male-couple>.couple-photo {
    width: 15rem;
    height: 24rem;
    background-image: url('../assets/img/aqua-hoshino.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10rem 10rem 0.5rem 0.5rem;
    border: 0.25rem solid var(--gold-dark);
}

.home .home-content .couple .female-couple>.couple-photo {
    width: 15rem;
    height: 24rem;
    background-image: url('../assets/img/akane-kurokawa.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10rem 10rem 0.5rem 0.5rem;
    border: 0.25rem solid var(--gold-dark);
}

.home .home-content .couple .couple-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 90%;
    text-align: center;
}

.home .home-content .couple .couple-desc h1 {
    font-size: 1.875rem;
    font-family: 'Great Vibes';
    font-weight: normal;
}

.home .home-content .couple .couple-desc p {
    font-size: 0.875rem;
    font-family: 'Noto Sans JP';

    @media (min-width: 1024px) {
        font-size: 1rem;
    }
}

.home .home-content .couple .love-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--green-primary);
    animation: bounce 1s infinite;
    color: var(--white-accent);

    @media (min-width: 1024px) {
        position: absolute;
        left: calc(47.7%);
        bottom: 50%;
    }

    @media (min-width: 1366px) {
        left: 48.3%;
    }

    @media (min-width: 1440px) {
        left: 48.35%;
    }
}

/* info */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem 0;
    background-color: var(--green-primary);
    overflow: clip;
}

.info .deco-white-1,
.info .deco-white-2 {
    width: 80%;
    height: 3rem;
    fill: var(--white-accent);
}

.info .info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;
    color: var(--white-accent);
}

.info .info-content .white-star {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.info .info-content .white-star .little-star-1 {
    animation: slide-to-left-right 3s infinite;
}

.info .info-content .white-star .little-star-2 {
    animation: slide-to-right-left 3s infinite;
}

.info .info-content .white-star path {
    fill: var(--white-accent);
}

.info .info-content .countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
}

.info .info-content .countdown h1 {
    font-size: 1.875rem;
    font-family: 'Great Vibes';
    font-weight: normal;
    text-align: center;
}

.info .info-content .countdown .countdown-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
    font-family: 'Noto Sans JP';

}

.info .info-content .countdown .countdown-item .countdown-item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    border-radius: 0.5rem;
    background-color: var(--white-accent);
    color: var(--green-primary);
}

.info .info-content .countdown .countdown-item .countdown-item-list h2 {
    font-weight: normal;
}

.info .info-content .akad-resepsi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 1.5rem;
    }
}

.info .info-content .akad-resepsi .little-wave {
    height: 1.75rem;
    fill: var(--white-accent);

    @media (min-width: 768px) {
        rotate: 90deg;
    }
}

.info .info-content .akad-resepsi .akad-card,
.info .info-content .akad-resepsi .resepsi-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
}

.info .info-content .akad-resepsi .akad-card h2,
.info .info-content .akad-resepsi .resepsi-card h2 {
    font-size: 1.875rem;
    font-family: 'Great Vibes';
    font-weight: normal;
}

.info .info-content .akad-resepsi .akad-card .card-loc-time,
.info .info-content .akad-resepsi .resepsi-card .card-loc-time {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'Noto Sans JP';
}

.info .info-content .akad-resepsi .akad-card .card-loc-time .calender,
.info .info-content .akad-resepsi .akad-card .card-loc-time .time,
.info .info-content .akad-resepsi .akad-card .card-loc-time .location,
.info .info-content .akad-resepsi .resepsi-card .card-loc-time .calender,
.info .info-content .akad-resepsi .resepsi-card .card-loc-time .time,
.info .info-content .akad-resepsi .resepsi-card .card-loc-time .location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.info .info-content .akad-resepsi .akad-card .card-loc-time .calender svg,
.info .info-content .akad-resepsi .akad-card .card-loc-time .time svg,
.info .info-content .akad-resepsi .akad-card .card-loc-time .location svg,
.info .info-content .akad-resepsi .resepsi-card .card-loc-time .calender svg,
.info .info-content .akad-resepsi .resepsi-card .card-loc-time .time svg,
.info .info-content .akad-resepsi .resepsi-card .card-loc-time .location svg {
    width: 1.5rem;
    height: 1.5rem;
}

.info .info-content .map-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Noto Sans JP';
    background-color: var(--white-accent);
    color: var(--green-primary);
}

.info .info-content .map-button:hover {
    background-color: var(--green-dark);
    color: var(--white-accent);
    transition: 300ms;
}

.rsvp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 4rem 0;
    overflow: clip;
    color: var(--green-primary);
    background-color: var(--white-accent);
}

.rsvp .deco-green-1,
.rsvp .deco-green-2 {
    width: 80%;
    height: 3rem;
    fill: var(--green-primary);
}

.rsvp .rsvp-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;

    @media (min-width: 768px) {
        width: 80%;
    }
}

.rsvp .rsvp-content h1 {
    font-size: 3.75rem;
    font-family: 'Great Vibes';
    font-weight: normal;
    text-align: center;
}

.rsvp .rsvp-content .rsvp-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    @media (min-width: 1024px) {
        width: 80%;
    }
}

.rsvp .rsvp-content .rsvp-form .form-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.rsvp .rsvp-content .rsvp-form .form-item label {
    font-size: 1rem;
    font-family: 'Noto Serif Display';
    font-weight: bold;

    @media (min-width: 768px) {
        font-size: 1.125rem;
    }
}

.rsvp .rsvp-content .rsvp-form .form-item input,
.rsvp .rsvp-content .rsvp-form .form-item select {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    border: 2px solid var(--green-primary);
    border-radius: 0.5rem;
    background-color: var(--white-accent);
    color: var(--green-primary);
    appearance: none;
    resize: none;

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}

.rsvp .rsvp-content .rsvp-form .form-item textarea {
    width: 100%;
    height: 8rem;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-family: 'Noto Sans JP';
    font-weight: 500;
    border: 2px solid var(--green-primary);
    border-radius: 0.5rem;
    background-color: var(--white-accent);
    color: var(--green-primary);
    appearance: none;
    resize: none;

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}

.rsvp .rsvp-content .rsvp-form .form-item input::placeholder {
    color: var(--green-primary);
    opacity: 50%;
}

.rsvp .rsvp-content .rsvp-form .form-item select>option {
    font-size: 0.875rem;
    font-family: 'Noto Sans JP';
    background-color: var(--green-primary);
    color: var(--white-accent);
}

.rsvp .rsvp-content .rsvp-form .submit-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Noto Serif Display';
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: var(--green-primary);
    color: var(--white-accent);
    cursor: pointer;

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}

.rsvp .rsvp-content .rsvp-form .submit-btn:hover {
    background-color: var(--green-dark);
    transition: 300ms;
}

.rsvp .rsvp-content .little-wave {
    height: 1.75rem;
    fill: var(--green-primary);
}

.rsvp .rsvp-content .guest-list-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-height: 46vh;

    @media (min-width: 768px) {
        max-height: 50vh;
    }

    @media (min-width: 1024px) {
        width: 80%;
    }
}

.rsvp .rsvp-content .guest-list-container .arrow-down {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.25rem;
    border-radius: 50%;
    background-color: var(--green-primary);
    color: var(--white-accent);
    z-index: 50;
    bottom: -0.75rem;
    animation: bounce 1s infinite;
}

.rsvp .rsvp-content .guest-list-container .arrow-down svg {
    stroke-width: 2;
}

.rsvp .rsvp-content .guest-list-container .guest-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    overflow-y: auto;
}

.rsvp .rsvp-content .guest-list-container .guest-list::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.rsvp .rsvp-content .guest-list-container .guest-list .guest-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 2px solid var(--green-primary);
    border-radius: 0.5rem;
    color: var(--green-primary);
}

.rsvp .rsvp-content .guest-list-container .guest-list .guest-card .guest-card-message {
    font-size: 0.875rem;
    font-family: 'Noto Sans JP';
    text-align: justify;

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}

.rsvp .rsvp-content .guest-list-container .guest-list .guest-card .guest-card-name {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
    font-family: 'Noto Serif Display';
    font-weight: bold;

    @media (min-width:768px) {
        font-size: 1.125rem;
    }
}

.rsvp .rsvp-content .guest-list-container .guest-list .guest-card .guest-card-name svg {
    height: 1.5rem;
    width: 1.5rem;
}

/* gift */
.gift {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 4rem 0;
    overflow: clip;
    color: var(--green-primary);
    background-color: var(--white-accent);
}

.gift .green-star {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.gift .green-star .little-star-1 {
    animation: slide-to-left-right 3s infinite;
}

.gift .green-star .little-star-2 {
    animation: slide-to-right-left 3s infinite;
}

.gift .green-star path {
    fill: var(--green-primary);
}

.gift .deco-green-1 {
    margin-top: 4rem;
}

.gift .deco-green-1,
.gift .deco-green-2 {
    width: 80%;
    height: 3rem;
    fill: var(--green-primary);
}

.gift .gift-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
    gap: 3rem;

    @media (min-width: 768px) {
        width: 80%;
    }
}

.gift .gift-content .little-wave {
    height: 1.75rem;
    fill: var(--green-primary);
}

.gift .gift-content h1 {
    font-size: 3.75rem;
    font-family: 'Great Vibes';
    font-weight: normal;
    text-align: center;
}

.gift .gift-content .gift-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;

    @media (min-width: 1024px) {
        width: 80%;
    }
}

.gift .gift-content .gift-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.25rem;
    padding: 1rem;
    border: 2px solid var(--green-primary);
    border-radius: 0.5rem;
    background-color: var(--white-accent);
    color: var(--green-primary);

    @media (min-width: 1024px) {
        width: 80%;
    }
}

.gift .gift-content .gift-account .male-account,
.gift .gift-content .gift-account .female-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    padding: 1rem;
    border: 2px solid var(--green-primary);
    border-radius: 0.5rem;
    background-color: var(--white-accent);
    color: var(--green-primary);
}

.gift .gift-content .gift-account .male-account h2,
.gift .gift-content .gift-account .female-account h2,
.gift .gift-content .gift-location h2 {
    font-size: 1rem;
    font-family: 'Noto Serif Display';
    font-weight: bold;

    @media (min-width: 768px) {
        font-size: 1.125rem;
    }
}

.gift .gift-content .gift-account .male-account .account-container,
.gift .gift-content .gift-account .female-account .account-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.gift .gift-content .gift-account .male-account .account-container .copy-btn,
.gift .gift-content .gift-account .female-account .account-container .copy-btn {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    background-color: var(--green-primary);
    border-radius: 0.5rem;
    color: var(--white-accent);
    font-family: 'Noto Sans JP';
    cursor: pointer;
}

.gift .gift-content .gift-account .male-account .account-container .copy-btn:hover,
.gift .gift-content .gift-account .female-account .account-container .copy-btn:hover {
    background-color: var(--green-dark);
    transition: 300ms;
}

.gift .gift-content .gift-account .male-account .account-container .copy-btn svg,
.gift .gift-content .gift-account .female-account .account-container .copy-btn svg {
    height: 1.5rem;
    width: 1.5rem;
}

.gift .gift-content .gift-account .male-account .account-container .copy-btn p,
.gift .gift-content .gift-account .female-account .account-container .copy-btn p {
    font-size: 0.875rem;

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}

.gift .gift-content .gift-account .male-account .account-container .account-item,
.gift .gift-content .gift-account .female-account .account-container .account-item,
.gift .gift-content .gift-location .gift-location-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.gift .gift-content .gift-account .male-account .account-item svg,
.gift .gift-content .gift-account .female-account .account-item svg,
.gift .gift-content .gift-location .gift-location-item svg {
    height: 2rem;
    width: 2rem;
}

.gift .gift-content .gift-account .male-account .account-item p,
.gift .gift-content .gift-account .female-account .account-item p,
.gift .gift-content .gift-location .gift-location-item p {
    font-size: 0.875rem;
    font-family: 'Noto Sans JP';
    text-align: center;

    @media (min-width: 768px) {
        font-size: 1rem;
    }
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    font-family: 'Noto Sans JP';
    background-color: var(--green-primary);
    color: var(--white-accent);
}

footer p,
footer a {
    font-size: 0.75rem;
}

footer a {
    font-family: 'Noto Serif Display';
    font-weight: bold;
    color: var(--white-accent);
    text-decoration: none;
}

/* audio */

.audio-container {
    display: none;
}

.audio-container .audio-icon-play {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.2rem;
    border: 1px solid var(--green-primary);
    border-radius: 50%;
    background-color: var(--white-accent);
    color: var(--green-primary);
    cursor: pointer;
    animation: rotating 4s linear infinite;
}

.audio-container .audio-icon-pause {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.2rem;
    border: 1px solid var(--green-primary);
    border-radius: 50%;
    background-color: var(--white-accent);
    color: var(--green-primary);
    cursor: pointer;
    animation: rotating 4s linear infinite;
}

.audio-container .audio-icon-play:hover,
.audio-container .audio-icon-pause:hover {
    border: var(--white-accent);
    background-color: var(--green-dark);
    color: var(--white-accent);
    transition: 300ms;
}

/* animation keyframes */
@keyframes slide-in-top {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out-bottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(300px);
        opacity: 0;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes slide-to-left-right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-25px);
    }

    0% {
        transform: translateX(0);
    }
}

@keyframes slide-to-right-left {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(25px);
    }

    0% {
        transform: translateX(0);
    }
}